@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #4f46e5;
    --color-primary-dull:#44ae7c;
}